<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Scatterplot</h1>

    <button id="generate-data">GenerateData</button>

    <div id="scatterplot"></div>


    <script src="bower_components/d3/d3.js"></script>
    <script src="/javascripts/scatterplot.js"></script>
  </body>
</html>
